app-legacy/environment.rb
app-legacy/deploy.sh
app-legacy/Gemfile.lock
deploy-legacy/terraform.tfvars
deploy-legacy/terraform.tfstate
deploy-legacy/.terraform
deploy-legacy/terraform.tfstate.backup
heroku/terraform.tfvars
heroku/terraform.tfstate
heroku/.terraform
heroku/terraform.tfstate.backup
test_deploy.sh
